body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  font-size: 40pt;
}

h1 {
  font-size: 30px;
}

input {
  font-size: 40pt;
  margin-left: 10px;
}

button {
  font-size: 40pt;
  margin-top: 20px;
  margin-bottom: 20px;
}
