body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  font-size: 20pt;
}

h1 {
  font-size: 40px;
  color: blue;
}

input {
  font-size: 20pt;
  margin-left: 10px;
}

button {
  font-size: 40pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#loginState {
  width: 100vw;
  border: 1px solid black;
  height: 40px;
  font-size: 20pt;
}